.sectionTechnology {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
}
.technology {
  padding-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
.technology > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.technology > nav > ul > li {
  font-size: 1.25rem; /* 20px */
}
.technology > nav > ul li a {
  display: block;
  color: white;
  text-decoration: none;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 3.125rem; /* 50px */
  font-family: "Bellefair";
  transition: background-color 200ms, color 200ms;
}
.technology > nav > ul li a:hover {
  background-color: white;
  color: black;
  transition: background-color 200ms, color 200ms;
}
.technology > nav a.active {
  background-color: white;
  color: black;
}
.technologyContent {
  width: 420px;
}
.technologyContent p:first-of-type {
  font-size: 1.125rem; /* 18px */
  color: #d6dcfd;
}
.technologyContent p:last-of-type {
  font-size: 1.25rem; /* 20px */
  color: #d6dcfd;
  line-height: 1.8;
}
.technologyContent h3 {
  font-size: 3.125rem; /* 50px */
  margin-block: 20px;
  color: white;
  font-family: "Bellefair";
}
.technologyImg img {
  width: 400px;
}
@media screen and (max-width: 992px) {
  .technology {
    padding-top: 200px;
    flex-direction: column;
    justify-content: initial;
    gap: 20px;
  }
  .technology > nav > ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .technologyContent {
    width: 75vw;
  }
  .technologyImg img {
    width: 75vw;
  }
}
@media screen and (max-width: 768px) {
  .sectionTechnology {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
  .technology {
    padding-top: 100px;
  }
  .technology > nav > ul {
    gap: 20px;
  }
  .technology > nav > ul li a {
    height: 80px;
    width: 80px;
  }
  .technologyContent {
    width: 80vw;
  }
  .technologyImg img {
    width: 80vw;
  }
}
@media screen and (max-width: 576px) {
  .sectionTechnology {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
  }
  .technology {
    padding-top: 150px;
  }
  .technology > nav > ul li a {
    height: 75px;
    width: 75px;
  }
  .technologyContent {
    width: 90vw;
  }
  .technologyImg img {
    width: 90vw;
  }
}
