.sectionHome {
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100%;
}
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 250px;
}
.home a {
  text-decoration: none;
}
.homeText {
  width: 600px;
}
.homeText p {
  color: white;
}
.homeText p:first-of-type {
  font-size: 1.875rem; /* 30px */
}
.homeText p:last-of-type {
  font-size: 1.375rem; /* 22px */
}
.homeText h1 {
  color: white;
  font-size: 12.5rem; /* 200px */
  font-family: "Bellefair";
}
.homeButton {
  background-color: white;
  border: none;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeButton p {
  color: black;
  font-family: "Bellefair";
  font-size: 1.875rem; /* 30px */
  margin: 0;
}
@media screen and (max-width: 992px) {
  .home {
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    padding-top: 125px;
  }
  .homeText p {
    text-align: center;
  }
  .homeText p:last-of-type {
    margin-bottom: 40px;
  }
  .homeText h1 {
    text-align: center;
    font-size: 10rem;
    margin-block: 0px;
  }
  .homeButton {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .sectionHome {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
  .home {
    padding-top: 100px;
  }
  .homeText {
    width: 80vw;
  }
}
@media screen and (max-width: 576px) {
  .sectionHome {
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }
  .homeText h1 {
    font-size: 8rem;
  }
}
@media screen and (max-width: 375px) {
  .homeText {
    width: 95vw;
  }
}
