#root > nav {
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 40px;
  position: fixed;
  top: 0;
}
#root > nav button {
  display: none;
  border: #d0d6f9 1px solid;
  padding: 10px 15px;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
#root > nav .navLogo {
  padding-inline: 30px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}
#root > nav .navLogo::after {
  content: "";
  position: absolute;
  background-color: white;
  left: 10vw;
  width: 70%;
  height: 1px;
}
#root > nav ul {
  flex: 1.8;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  gap: 7.5%;
}
#root > nav ul li {
  font-size: 1.25rem; /* 20px */
  letter-spacing: 0.1875rem; /* 3px */
  box-sizing: border-box;
}
#root > nav ul a {
  text-decoration: none;
  color: white;
  padding-block: 30px;
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: border-bottom 200ms;
}
#root > nav ul a:hover {
  border-bottom: 2px solid white;
  transition: border-bottom 200ms;
}
#root > nav ul a.active {
  border-bottom: 2px solid white;
}
@keyframes animationNav {
  from {
    transform: scaleY(0%);
  }
  to {
    transform: scaleY(100%);
  }
}
#root > nav .navResponsive {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  right: 20px;
  top: 80px;
  border-radius: 10px;
  transform-origin: top;
  animation: animationNav forwards 500ms;
}
#root > nav .navResponsive a {
  width: 150px;
  text-align: right;
  text-decoration: none;
  color: white;
  padding-block: 30px;
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: border-bottom 200ms;
}
#root > nav .navResponsive a:hover {
  border-bottom: 2px solid white;
  transition: border-bottom 200ms;
}
#root > nav .navResponsive a.active {
  border-bottom: 2px solid white;
}
@media screen and (max-width: 992px) {
  #root > nav {
    padding-block: 25px;
  }
  #root > nav .navLogo::after {
    width: 50%;
  }
  #root > nav ul {
    flex: 5;
  }
}
@media screen and (max-width: 768px) {
  #root > nav .navLogo {
    padding-inline: 30px;
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
  }
  #root > nav {
    padding-inline: 20px;
  }
  #root > nav .navLogo::after {
    width: 0;
    height: 0;
  }
  #root > nav ul {
    display: none;
  }
  #root > nav button {
    display: block;
  }
  #root > nav .navLogo {
    padding-inline: 0;
    flex: initial;
  }
}
@media screen and (max-width: 576px) {
}
